@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
    background-color: antiquewhite;

}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Quicksand', sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 65px;
    background-color: black;
    color:white;
}
nav ul li{
    padding: 0 15px;
}
.brand img{
    width: 60px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem ;
}
#myProgress{
    width: 80vw;
    text-align: center;
}

.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Quicksand' , sans-serif;
    display: flex;
    width:75%;
    margin: 23px auto;
    border-radius: 12px;
    padding:36px;
}
.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom:0;
}

.icons{
    margin-top: 12px;
}

.icons i{
    cursor: pointer;
}